

a {
    padding: 3px;
    margin: 0;
    border-radius: 8px;
    line-height: 0;
    transition: background-color 0.15s, transform 0.15s;
    vertical-align: middle;
    border: 0;
    color: #dddddd;
    cursor: pointer;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
    display: inline-block;
}

    a:hover {
        background-color: rgba(255, 255, 255, 0.10);
        transform: translateY(1px);
    }

    a:active {
        background-color: rgba(255, 255, 255, 0.18);
    }

    a[disabled] {
        opacity: 0.2;
        cursor: auto;
    }
        a[disabled]:hover, a[disabled]:active {
            background-color: transparent;
        }